<configuration debug="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="sentry" class="io.sentry.logback.SentryAppender">
    <dsn>https://9eda1857f9344d51821b656ba3557780@o420886.ingest.sentry.io/5339853</dsn>
    <debug>true</debug>
    <attachStacktrace>true</attachStacktrace>
  </appender>

  <root level="debug">
    <appender-ref ref="sentry"/>
  </root>
</configuration>
